<!DOCTYPE html>
<html>
<head>
    <title>Create Subject</title>
</head>
<body>
    <a href="/">Go Home</a>
    <h1>Create a New Subject</h1>
    <form action="/subject" method="post">
        <label for="subjectid">Subject ID:</label>
        <input type="text" id="subjectid" name="subjectid" required>
        <br><br>
        <label for="subjectname">Subject Name:</label>
        <input type="text" id="subjectname" name="subjectname" required>
        <br><br>
        <input type="submit" value="Create Subject">
    </form>
</body>
</html>
