<form>
    <label for="subjectid">Subject ID:</label>
    <input type="text" name="subjectid" id="subjectid" value="<%= subject.subjectid %>">
    <br>
    <label for="subjectname">Subject Name:</label>
    <input type="text" name="subjectname" id="subjectname" value="<%= subject.subjectname %>">
    <br>
    <!-- Other form fields go here -->
</form>
